.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  /* Reduced padding */
  z-index: 1002;
  box-sizing: border-box;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  /* Adding margin-right */
}


.sidebar {
  position: fixed;
  top: 60px;
  /* Adjusted to be below the navbar */
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  /* Adjusted height */
  background-color: #ffffff;
  color: #000000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}

.nav {
  margin-top: 20px;
  padding: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 10px 0;
}

.nav a {
  color: #000000;
  text-decoration: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding: 10px;
  transition: margin-left 0.3s ease-in-out;
  background-color: #F0F0F0;
  padding-top: 60px;
  /* Adjusted to be below the navbar */
  min-height: calc(100vh - 60px);
  /* Ensures it takes the full viewport height minus the navbar */
}

.App.sidebar-open .content {
  margin-left: 250px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    font-size: 30px;
  }

  .sidebar {
    width: 100%;
    transform: translateX(-100%);
    background-color: #ffffff;
    color: #000000;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .nav a {
    font-size: 24px;
  }

  .logout-btn {
    margin-top: 50px;
    border: 1px solid lightgray;
  }
}